:root {
    --blue100: hsl(225, 100%, 94%);
    --blue700: hsl(245, 75%, 52%);

    --blue50:  hsl(225, 100%, 98%);
    --blue600: hsl(224, 23%, 55%);
    --blue950: hsl(223, 47%, 23%);
}

body {
    background-color: blue;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
/*

- Font size (paragraph): 16px


- Family: [Red Hat Display]
 Weights: 500, 700, 900  */
